
<div class="contactMail">
    <div class = "emailMe">
    Email me
    </div>
    <div class = "contactForm">
            <input type="text" name="name" id="name" placeholder=" Name " required>
    
            <input type="email" name="email" id="email" placeholder=" Email " required>
        
            <input type="text" name="phone" id="phone" placeholder=" Phone (optional)" autofocus> 
        
            <textarea name="message" id="messarea" placeholder=" Message:" required></textarea>
            <button="submit" value="Send" id="send">
            </button>
    </div>
</div>

     
   
